* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: inherit;
    width: 85%;
    max-width: 1280px;
    margin: 0 auto;
    align-items: inherit;
    justify-content: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-color: hsl(257, 40%, 49%);
    color: #ffffff;
}

img {
    width: 100%;
}

header {
    display: block;
    padding: 1rem 0;
}

.header__logoContainer {
    width: 12.5rem;
}

.ilustration {
    padding: 2rem 0;
}

.ilustration__container {
    display: block;
}

article {
    text-align: center;
    margin-top: 4rem;
}

article h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
}

article p {
    margin: 1.6rem 0;
    line-height: 1.6rem;
    font-size: 1.0625rem;
    text-align: center;
}

article a {
    display: inline-block;
    color: hsl(257, 40%, 49%);
    padding: 0.8rem 5rem;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.4) 2px 4px 7px;
    text-decoration: none;
    transition: 200ms;
}

article a:hover {
    background-color: #ffffffe5;
}

article a:active {
    transform: scale(0.95);
}

footer {
    margin: 3rem 0;
}

.footer__items {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer__items li {
    margin: 0 0.5rem;
}

.footer__items a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    padding: 0.6rem;
    border: 1px solid;
    border-radius: 50%;
}

.footer__items .icon {
    font-size: 18px;
}